<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF">
        <title>Gestion</title>
        <script></script>
    </head>
    <body>
        <form action="redirect/" method="post">
            {% csrf_token %}
            Nombre:<br>
            <input name='nombre'>
            <br><br>
            Email:<br>
            <input name='email'>
            <br><br>
            Contraseña:<br>
            <input type="password" name='password'>
            <br><br>
            Nombre artistico:<br>
            <input name='artista_nombre_artistico'>
            <br><br>
            <input type="submit" value="Submit">
            </form>
    </body>
</html>