<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Ver Canciones</title>
    </head>
        <body>
            <table border="1">
                <thead>
                        <h1>Canciones</h1>
                </thead>
                <tbody>
                    <tr>
                        <td>Id</td> 
                        <td>Nombre</td> 
                        <td>Letra</td> 
                        <td>Fecha composicion</td>
                        <td>Artista</td>
                    </tr>
                    <!-- Codigo HTML -->
                    {% for c in canciones %}
                    <tr>
                        <td>{{c.id}}</td> 
                        <td> {{c.nombre}}</td> 
                        <td> {{c.letra}}</td>   
                        <td> {{c.fecha_composicion}}</td>  
                        <td>{{c.id_artista_id}}</td>
                        <td><a href="cambiar/{{c.id}}">Cambiar</a></td>
                        <td><a href="borrar/{{c.id}}">Borrar</a></td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            <p>
                <a href="crear/">Añadir Canciones</a>
                <a href="/">Volver</a>
            </p>
        </body>
</html>